$accent: #ff6f00;
$radius: 50px;

.d-flex{
    display: flex
}

.mr-auto{
    margin-right: auto;
}

.ml-auto{
    margin-left: auto;
}
.ai-center{
    align-items: center;
}

.accent-background{
    background-color: $accent;
}

.round-radius{
    border-radius: $radius;
}

.jcc{
    justify-content: center;
}

.f-column{
    flex-direction: column;
}

.f-row{
    flex-direction: row;
}

.ase{
    align-self: flex-end;
}
.border-right{
    border-right: 1px solid #e7e7e7;
}

.jcsb{
    justify-content: space-between;
}