.user-activity-chart-wrapper
  .field-select, .field-search
    width: 300px
    text-decoration: none
    padding: 0px 15px
    background-color: #f3f5f7
    border-radius: 2px
    border: 1px solid #b7b8bc
    .field-search-input
      font-family: Muli
      font-size: 15px
      font-weight: normal
      font-style: normal
      font-stretch: normal
      line-height: 1.33
      letter-spacing: normal
      color: #5f6368
      &:before
        border: none
        content: none
      &:after
        content: none
        border: none
        position: relative
  .title-button
    font-family: Muli
    font-size: 14px