@import '../../sass/common.scss'
.footer-wrapped
  background-color: #224483
  z-index: -1
  .main
    padding: 20px
    height: 74px
    border-bottom: 1.5px solid #2c56a2
    .logo
      width: 52px
      height: 50px
      background-size: contain
      margin-right: 10px
    .policy
      height: 30px
      margin-left: auto
      h2
        color: #fff
        font-weight: normal
        text-transform: uppercase
        font-size: 15px
      .divider
        background-color: #fff
        width: 1.5px
        height: 15px
        margin: 0 20px

  .footer-link
    cursor: pointer
  .copyright
    margin-top: 10px
    height: 52px
    color: '#fff'
    h2
      color: white
      font-weight: normal
      text-transform: uppercase
      font-size: 15px
  
