@import '../../sass/common.scss';

.second-panel-wrapper{
        height: 74px;
        background-color: #fafafa;
}

.margin-title{
    margin-left: 37px;
}

.margin-add-group{
    margin-right: 28px;
}