.gallery
  overflow-x: hidden;
  width: 100%
.slide-arrow
  background-image: url('/static/svg/right-arrow.svg')
  background-repeat: no-repeat
  background-size: cover
  width: 22px
  height: 31px
  cursor: pointer
.reversed
  transform: rotate(180deg)
.slick-list
  margin-left: 15px
.slick-slide
  margin: 0 15px